@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url(./fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Regular-webfont.woff) format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* unvisited link */
 a:link {
  color: grey;
}

/* mouse over link */
a:hover {
  color: #5782a1;
}

input {
  text-align: center;
  color: white;
}
